@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --font-montserrat: var(--font-montserrat);
  --font-roboto: var(--font-roboto)
}

:root {
  --radius: 0.125rem;
  --background: #FDFCFD;
  --foreground: #121113;
  --card: #EEEEF0;
  --card-foreground: #232225;
  --primary: #8E4EC6;
  --primary-foreground: #FFFFFF;

  --secondary: #B744F714;
  --secondary-foreground: #F1DDFFFA;
  --muted: #6F6D78;
  --muted-foreground: #ECE9FD7D;
  --border: #3C393F;
  --input: #1A191B;
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --popover: #EEEEF0;
  --popover-foreground: #232225;
  --font-montserrat: var(--font-montserrat);
  --font-roboto: var(--font-roboto)
}

.dark {
  --background: #121113;
  --foreground: #EEEEF0;
  --card: #232225;
  --card-foreground: #EEEEF0;

  --primary: #8E4EC6;
  --primary-foreground: #FFFFFF;
  --secondary: #B744F714;
  --secondary-foreground: #F1DDFFFA;
  --muted: #6F6D78;
  --muted-foreground: #ECE9FD7D;
  --border: #3C393F;
  --input: #1A191B;

  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --ring: oklch(0.556 0 0);
  --popover: #232225;
  --popover-foreground: #EEEEF0;
  --font-montserrat: var(--font-montserrat);
  --font-roboto: var(--font-roboto)
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}