@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-secondary-hover: var(--secondary-hover);
  --color-secondary-disabled: var(--secondary-disabled);
  --color-secondary-disabled-foreground: var(--secondary-disabled-foreground);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-xs: calc(var(--radius) - 6px);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --font-montserrat: var(--font-montserrat);
  --font-roboto: var(--font-roboto)
}

:root {
  --radius: 0.5rem;
  --background: #F2EFF3;
  --foreground: #121113;
  --card: #F2EFF3;
  --card-foreground: #232225;

  --primary: #8347B9;
  --primary-hover: #8E4EC6;
  --primary-foreground: #F7EDFE;
  --primary-disabled: #78786d;
  --primary-disabled-foreground: #ECE9FD7D;

  --secondary: #BE93E4;
  --secondary-hover: #D1AFEC;
  --secondary-foreground: #FBF7FE;
  --secondary-disabled: #B5B2BC;
  --secondary-disabled-foreground: #FBF7FE;

  --muted: #74786d;
  --muted-foreground: #ECE9FD7D;
  --border: #3C393F;
  --input: #1A191B;
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: #8347B9;
  --popover: #F2EFF3;
  --popover-foreground: #232225;
  --font-montserrat: var(--font-montserrat);
  --font-roboto: var(--font-roboto)
}

.dark {
  --background: #121113;
  --foreground: #EEEEF0;
  --card: #232225;
  --card-foreground: #EEEEF0;

  --primary: #8E4EC6;
  --primary-hover: #9A5CD0;
  --primary-foreground: #FFFFFF;
  --primary-disabled: #6F6D78;
  --primary-disabled-foreground: #ECE9FD7D;

  --secondary: #B744F714;
  --secondary-hover: #C150FF2E;
  --secondary-foreground: #F1DDFFFA;
  --secondary-disabled: #EBEAF814;
  --secondary-disabled-foreground: #ECE9FD7D;

  --muted: #6F6D78;
  --muted-foreground: #ECE9FD7D;
  --border: #3C393F;
  --input: #1A191B;

  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --ring: #8E4EC6;
  --popover: #232225;
  --popover-foreground: #EEEEF0;
  --font-montserrat: var(--font-montserrat);
  --font-roboto: var(--font-roboto)
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}

body {
  main {
    background-image: linear-gradient(to bottom,
        rgba(255, 255, 255, 0.3) 0%,
        rgba(255, 255, 255, 0.8) 50%),
      url("/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: background-image 0.4s ease, background-color 0.4s ease;
  }
}

.dark body {
  main {
    background-image: linear-gradient(to bottom,
        rgba(0, 0, 0, 0.5) 0%,
        rgba(0, 0, 0, 1) 50%),
      url("/background.png");
  }

}